

  #home h1{
    font-family: 'Parisienne',
}
nav{
  width:100%
}
ul>li{
      display: inline-block;
      text-align:right; 
      font-size: 30px;
      margin-right: 10px;
      color: white;
}
li a:hover {
  background-color:red;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}
#about-us{
  min-height: 70vh;
  align-items: center;

}
.about-pic {
  background-color:green;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  margin-top: 30px;
}